.card1 {
  width: 60%;
  margin: auto;
  margin-top: 2rem;
  box-shadow: rgb(0 0 0 / 15%) 0px 8px 24px;
  background-color: #fff;
  border-top: 3px solid var(--primary);
  border-radius: 100px 4px;
  height: auto;
}

.content {
  margin-top: 2rem;
}
.card1 .thumb {
  width: 8rem;
  margin-top: 1rem;
}
.card1 p {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  text-align: center;
}
