.featured {
  width: 100%;
  padding: 8rem 0;
  background-color: var(--background);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}
.featured .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding: 1rem;
}
