.featured {
  width: 100%;
  padding: 8rem 0;
  background-color: var(--background);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}
.featured .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding: 1rem;
}
.featured .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}
.featured .left p {
  margin: 1.5rem 0;
}
.featured .left .btn {
  align-self: flex-start;
}

.featured .right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.featured .right .card {
  display: flex;
  flex-direction: column;
  padding: 12px 22px;
  margin: 0.4rem;
  width: 170px;
  height: 170px;
  border-radius: 24px;
  border: 1px solid lightgray;
  box-shadow: rgb(0, 0, 0 /12%) 0px 8px 24px;
  text-align: center;
}

.featured .right .card:hover {
  box-shadow: rgb(0, 0, 0 /24%) 0px 8px 24px;
}
.featured .card .top {
  display: flex;
  flex-direction: column;
}
.featured .right img {
  width: 50px;
  margin: auto;
  padding: 0.2rem 0;
}
