.home .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.home .left {
  padding: 1rem;
}
.home h1 {
  padding: 1rem 0;
}
.home .input-container {
  padding: 1rem 0;
}
.home .right {
  padding: 2rem;
}
.home .image-container {
  width: 100%;
  display: flex;
}
.home img {
  max-width: 90%;
  border-radius: 100px 4px;
  box-shadow: rgb(0 0 0 / 15%) 0px 8px 24px;
  z-index: 2;
  margin: auto;
  border-right: 20px solid var(--primary);
}

@media screen and (max-width: 940px) {
  .home .container {
    grid-template-columns: 1fr;
    margin: 1rem 1rem;
  }
  .home img {
    width: 100%;
  }
}
